[Desktop Entry]
Encoding=UTF-8
Name=Singularity
Comment=Singularity P2P Cryptocurrency
Comment[fr]=Singularity, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Singularity, eşten eşe kriptografik sanal para birimi
Exec=singularity-qt %u
Terminal=false
Type=Application
Icon=singularity128
MimeType=x-scheme-handler/singularity;
Categories=Office;Finance;
