[Unit]
Description=Singularity's distributed currency daemon
After=network.target

[Service]
User=singularity
Group=singularity

Type=forking
PIDFile=/var/lib/singularityd/singularityd.pid
ExecStart=/usr/bin/singularityd -daemon -pid=/var/lib/singularityd/singularityd.pid \
-conf=/etc/singularity/singularity.conf -datadir=/var/lib/singularityd -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
